@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

// * Variables *//
//Font Weights
$light: 400;
$regular: 500;
$bold: 700;

//Colors
$white: #ffffff;
$off-white: #f5f5f5;
$off-grey: #efefef;
$bg-blue: #f3faff;
$light-blue: #d5e3e8;
$blue: #1e5b6d;
$dark-blue: #19424e;
$button-blue: #387b8e;
$light-purple: #e6e6fa;
$dark-purple: #42498f;
//Mix-ins
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

@mixin fluid-typography($minFont, $maxFont, $minBreakpoint, $maxBreakpoint) {
  /* Define variable for media query */
  $maxLessOne: $maxBreakpoint - 1;

  /* Define variable for fallback */
  $avg: ($maxFont + $minFont) / 2;

  /* Base font size */
  font-size: #{$minFont}px;

  @media (min-width: #{$minBreakpoint}px) and (max-width: #{$maxLessOne}px) {
    /* Adds a fallback for unsupported browsers */
    font-size: #{$avg}px;

    font-size: calc(
      #{$minFont}px + (#{$maxFont} - #{$minFont}) *
        (100vw - #{$minBreakpoint}px) / (#{$maxBreakpoint} - #{$minBreakpoint})
    );
  }

  @media (min-width: #{$maxBreakpoint}px) {
    font-size: #{$maxFont}px;
  }
}

// * Global Styles * //
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  @include fluid-typography(16, 25, 300, 1500);
}

body {
  font-family: "DM Sans", sans-serif;
  color: black;
  background-color: $bg-blue;
}

h1,
h2,
h3,
p {
  margin: 0;
}

// * Navbar * //
#icon {
  font-weight: $bold;
  color: $off-white;
  font-size: 1.1rem;
  span {
    color: $light-purple;
  }
}
.nav-item {
  font-size: 0.9rem !important;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}
.navbar-dark .navbar-toggler {
  border-color: rgba(255, 255, 255, 0);
}
.navbar-nav {
  padding-top: 0.3rem;
}

.navActive {
  background-color: $blue !important;
  padding-top: 0.1rem !important;
  padding-bottom: 0.1rem !important;
  box-shadow: 0px 5px 23px 0px #16191e !important;
  transition: all 300ms ease-in;
}
.navbar {
  background-color: transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  box-shadow: 0px 0px 0px 0px #16191e;
  transition: background-color 250ms ease-out, padding-top 250ms ease-out,
    padding-bottom 250ms ease-out, box-shadow 100ms ease-out;
}

// ** Hero ** //
.hero {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-image: linear-gradient(
      to bottom,
      rgba(19, 20, 20, 0.7),
      rgba(19, 20, 20, 0.7)
    ),
    url("../img/s-migaj-Yui5vfKHuzs-unsplash.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: $off-white;

  &__title {
    font-weight: $bold;
    font-size: 4rem;
    letter-spacing: -1px;
  }
  &__subtitle {
    font-weight: $light;
    font-size: 0.8rem;
    max-width: 36ch;
    margin-bottom: 1rem;
  }

  &__button {
    text-transform: capitalize;
    font-weight: $regular;
    border-radius: 100px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    background-color: $button-blue;
    color: $off-white;
    outline: none;
    border: none;
    font-size: 0.7rem;
    width: 6rem;
    padding: 0.2rem 0;
    margin-bottom: 10rem;
    transition: background-color 200ms ease-out;
    &:hover,
    &:focus {
      color: $off-white;
      background-color: darken($button-blue, 10%);
      transition: background-color 250ms ease-in;
    }
  }
  &__arrow {
    position: absolute;
    top: 90%;
    left: 49%;
    transform: translateX(-50%);
    width: 2rem;
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
}

// * Message * //
.message {
  text-align: center;
  padding: 7rem 0;
  &__main {
    color: $blue;
    font-size: 1rem;
    font-weight: $regular;
  }
  &__line {
    padding-top: 3rem;
    color: $dark-blue;
    font-size: 8rem;
    font-weight: $bold;
    span {
      color: $dark-purple;
    }
  }
}

// * Events * //
.events {
  background: hsla(199, 56%, 22%, 1);

  background: linear-gradient(
    90deg,
    hsla(199, 56%, 22%, 1) 0%,
    hsla(199, 63%, 18%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(199, 56%, 22%, 1) 0%,
    hsla(199, 63%, 18%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(199, 56%, 22%, 1) 0%,
    hsla(199, 63%, 18%, 1) 100%
  );

  color: $off-white;
  padding: 2rem 0;

  &__title {
    font-weight: $regular;
    text-align: center;
    font-size: 3rem;
    padding-bottom: 1.5rem;
  }
  &__meditation {
    background-image: url(../svg/meditation_bg.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 3.25rem;
    &_title {
      font-size: 1.75rem;
      padding-bottom: 0.5rem;
    }
    &_subtitle {
      font-weight: $light;
      color: $off-grey;
      font-size: 0.8rem;
      padding-bottom: 0.5rem;
    }
  }
  &__yoga {
    background-image: url(../svg/yoga_bg.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 3.25rem;
    &_title {
      font-size: 1.75rem;
      padding-bottom: 0.5rem;
    }
    &_subtitle {
      font-weight: $light;
      font-size: 0.8rem;
      color: $off-grey;
      padding-bottom: 0.5rem;
    }
  }
  &__exercise {
    background-image: url(../svg/exercise_bg.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 3.25rem;
    &_title {
      font-size: 1.75rem;
      padding-bottom: 0.5rem;
    }
    &_subtitle {
      font-weight: $light;
      font-size: 0.8rem;
      color: $off-grey;
      padding-bottom: 0.5rem;
    }
  }
  &__button {
    text-transform: capitalize;
    font-weight: $regular;
    border-radius: 100px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
    color: $off-white;
    outline: none;
    border: 2px solid $off-white;
    font-size: 0.7rem;
    width: 70%;
    padding: 0.2rem 0;
    transition: background-color 200ms ease-out, color 200ms ease-out;
    &:hover,
    &:focus {
      color: $blue;
      background-color: $off-white;
      transition: background-color 250ms ease-in, color 250ms ease-in;
    }
  }
}
